.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        'logo title title'
        '. text text';
    gap: 10px 25px;
    margin: 50px;
    justify-items: start;
    align-items: center;
}

.about__logo {
    display: flex;
    align-items: center;
    grid-area: logo;
    justify-self: center;
    height: 240px;
    width: 240px;
    background: black;
    border-radius: 120px;
}

.about__logo-image {
    height: 114px;
}

.about__title {
    grid-area: title;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30pt;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    grid-area: text;
    align-self: start;
    font-size: 15pt;
    line-height: 1.15;
    letter-spacing: 0;
}
