.footer {
    display: flex;
    margin: 184px 50px;
}

.footer > * {
    flex: 1 1 0;
}

.address:has(> .footer__address) {
    justify-content: start;
}

.footer__address {
    line-height: 1.5;
    letter-spacing: 1px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
}

.footer__menu-list-item {
    display: flex;
    justify-content: center;
}

.footer__menu-link {
    font-size: 14pt;
    text-transform: lowercase;
    line-height: 1.1;
}

.footer__menu-link_active {
    border-bottom: 1px solid transparent;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    list-style: none;
}

.footer__social-link {
    display: flex;
    border: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.footer__social-link_youtube {
    background-image: url(../images/yt.svg);
}

.footer__social-link_vk {
    background-image: url(../images/vk.svg);
}

.footer__social-link_pinterest {
    background-image: url(../images/pinterest.svg);
}
