.lots {
    padding: 0 50px;
    margin-bottom: 145px;
}

.lots__heading {
    font-size: 30pt;
    text-transform: uppercase;
    margin: 25px 40px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    height: 450px;
}

.lots__card-list-item {
    flex: 1 1 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    overflow: hidden;
    color: white;
}

.card__title {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16.8pt;
    line-height: 1.2;
}

.card__text {
    font-size: 15.4pt;
}

.lots__look-more-link {
    display: inline-block;
    margin: 33px 40px;
    font-size: 15pt;
}
