.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 14pt;
    margin: 94px 50px;
}

.header__menu {
    text-transform: lowercase;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    position: relative;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    border: 0;
}

.header__logo {
    height: 105px;
    border: 0;
}

.header__logo-image {
    height: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-style: normal;
    line-height: 1.3;
}

.header__address {
    justify-self: end;
}

.cover {
    margin-bottom: 180px;
    text-transform: uppercase;
    color: white;
    background-image: url(../images/cover.jpg);
    background-size: cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 4pt;
    padding: 169px 50px 75px 50px;
}

.aligned-text {
    display: flex;
    font-size: 75pt;
    letter-spacing: 22pt;
}

.aligned-text_center {
    width: calc(100% - 60px);
    justify-content: center;
}

.aligned-text_right {
    justify-content: flex-end;
}

.letter-spacing-extended {
    letter-spacing: 44pt;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}

.cover__description-text {
    font-size: 16pt;
    margin-right: 78px;
    word-spacing: 22px;
}

.bet-button {
    width: 257px;
    height: 52px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 1px solid white;
    font-size: 16pt;
    text-transform: uppercase;
    color: white;
}

.lots {
    padding: 0 50px;
    margin-bottom: 150px;
}

.lots__heading {
    font-size: 30pt;
    text-transform: uppercase;
    margin: 25px 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    flex: 1 1 0;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding: 50px 40px;
    overflow: hidden;
    color: white;
}

.card__title {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16.8pt;
    line-height: 1.2;
}

.card__text {
    font-size: 15.4pt;
}

.lots__look-more-link {
    display: inline-block;
    margin: 30px 40px;
    font-size: 15pt;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        'logo title title'
        '. text text';
    gap: 10px 25px;
    margin: 50px;
    justify-items: start;
    align-items: center;
}

.about__logo {
    display: flex;
    align-items: center;
    grid-area: logo;
    justify-self: center;
    height: 240px;
    width: 240px;
    background: black;
    border-radius: 120px;
}

.about__logo-image {
    height: 114px;
}

.about__title {
    grid-area: title;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30pt;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    grid-area: text;
    align-self: start;
    font-size: 15pt;
    line-height: 1.15;
    letter-spacing: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 184px 50px 85px;
}

.footer > * {
    flex: 1 1 0;
}

.footer__address {
    justify-self: start;
    line-height: 1.5;
    letter-spacing: 1px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
}

.footer__menu-list-item {
    display: flex;
    justify-content: center;
}

.footer__menu-link {
    font-size: 14pt;
    text-transform: lowercase;
    line-height: 1.1;
}

.footer__menu-link_active {
    border-bottom: 1px solid transparent;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    list-style: none;
}

.footer__social-link {
    display: flex;
    border: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.footer__social-link_youtube {
    background-image: url(../images/yt.svg);
}

.footer__social-link_vk {
    background-image: url(../images/vk.svg);
}

.footer__social-link_pinterest {
    background-image: url(../images/pinterest.svg);
}
